/******* GENERAL *******
/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 2rem;
    padding-top: 4rem;
}
 h1,
#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
    font-family : "Dosis";
    font-weight : 400 ;
    font-style: normal ; 
}
#contact {
    padding-bottom: 4rem;
}

/* background dark color en rose au scroll */
.fixed-top{
    background-color:black ;
    height:50px;
}
.navbarDark {
    color:#a249b7;
}
.navbarScroll.navbarDark {
    /*background-color: #5b5b5b; barre grise*/
    background-color:#a249b7;    
}
.navbar-dark .navbar-nav .nav-link:hover {

    color:white;
  
}

.navbar-dark .navbar-nav .nav-link {
     color: white; 
}


/* partir ajouter*/
 
.navbar-dark .navbar-nav .navbar-link{
    color:#fff;
}

/* hero background image */
.bgimage {
    height: 100vh;
    max-height: 900px;
    background: url("images/9154281.webp");
    background-size: cover;
    position: relative;
    
}
/* pour ajouter du contrast avec le content mais le rendu trop sombre 
.bgimage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); Filtre opaque 
    z-index:1;  /*Place le filtre derrière le texte 
*/

/* text css above hero image*/
.hero_title {
    color:#dc8aee;
    font-size: 4.5rem;
    font-weight: bold;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre du texte pour un effet 3D */
}
.hero_desc {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre du texte pour un effet 3D */
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about */
.imageAboutPage {
    width: 80%;
}
.imageAboutPage {
    width:260px;
    height:260px;
    object-fit:cover;
    margin:15px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* skills */
.skillsText.card {
    height: 350px;
    cursor: pointer;
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #a249b7;
}
.skillsText:hover {
    border: 1px solid #a249b7;
}
.border-image {
    box-shadow: 1px 1px 12px  #555;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.text-center{
    bottom:5px;
}

/* portfolio */
#portfolio p {
    text-align: center;
}
.card-img-top {
    height:164px;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #a249b7;
}
.row{
    justify-content: space-evenly;
}
.btn{
    color:white;
}

.cli-rose:hover {
    border-color:#a249b7;
    background:#a249b7;
    animation: zoom 1s forwards;
   outline: none; /* Supprime le contour bleu */

}
.cli-rose:not(:hover){
    border-color:#a249b7;
    background:#a249b7;
    animation: dezoom 1s forwards;
   outline: none; /* Supprime le contour bleu */
}

@keyframes zoom {
    0% {
        transform: scale(1.1);
        background-color:#a249b7;
    }
    40%{ 
        transform: scale(1.4);
        color:white;
       
    }
    100% {
        transform: scale(1.1);
        background-color:#2f0361;
        color:white;
    }
}

@keyframes dezoom{
    0% {
        transform: scale(1.1);
        background-color:#2f0361;
        color:white;
    }
    40%{ 
        transform: scale(0.9);
        color:white;
       
    }
    100% {
        transform: scale(1.0);
        background-color:#a249b7;
    }
}

.btn:focus {
    outline: 4px solid #a249b7; /* Contour de focus avec une bordure solide de couleur violette */
}

/* footer rien ajouté */


@media (max-width: 992px){
.row>*{
    width: auto !important; 
    }
.navbar-dark .navbar-nav .nav-link {
    color:#a249b7; 
    font-weight: bold;
    }
}